@model IEnumerable<MyFirstMVCAppIordacheCatalin.Models.MembershipModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDMembership)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDMembershipType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDMembership)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDMembershipType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IDMembership  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IDMembership  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IDMembership  })
            </td>
        </tr>
}
    </tbody>
</table>
