@model IEnumerable<MyFirstMVCAppIordacheCatalin.Models.CodeSnippetModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCodeSnippet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Revision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeAdded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPublished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCodeSnippet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDMember)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.IdCodeSnippet  }) |
                    @Html.ActionLink("Details", "Details", new { id=item.IdCodeSnippet }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.IdCodeSnippet })
            </td>
        </tr>
}
    </tbody>
</table>
